volumes/config/sabnzbd/*
!volumes/config/sabnzbd/.gitkeep

volumes/config/couchpotato/*
!volumes/config/couchpotato/.gitkeep

volumes/config/sickrage/*
!volumes/config/sickrage/.gitkeep

volumes/config/plex/*
!volumes/config/plex/.gitkeep

volumes/data/Movies/*
!volumes/data/Movies/.gitkeep

volumes/data/TV/*
!volumes/data/TV/.gitkeep

volumes/scratch/downloads/incomplete/*
!volumes/scratch/downloads/incomplete/.gitkeep

volumes/scratch/downloads/complete/*
!volumes/scratch/downloads/complete/.gitkeep


volumes/scratch/sabnzbd/nzb/*
!volumes/scratch/sabnzbd/nzb/.gitkeep
